$large-font: 'Barlow';
$title-font: 'Roboto Condensed';
$descr-font: 'Roboto';

$twelth: calc((100% / 12) * 1);

$main-clr: #333333;
$light-clr: rgb(170, 170, 170);
$blue-clr: #2F80ED;
$white-clr: #fff;

@import url('https://fonts.googleapis.com/css?family=Barlow:700|Roboto|Roboto+Condensed');
@import 'reset';
@import 'letters';
@import 'words';


html {
    font-size: 62.5%;

    body {
        opacity: 0;
        transition: opacity .2s linear;
    }
}

.main {
    height: 100vh;
    padding-left: $twelth;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.page {
    &__title {
        font-family: $title-font;
        color: $light-clr;

        text-transform: uppercase;
        font-size: 1.8rem;
        letter-spacing: .18rem;

        margin-bottom: 3rem;
    }
    &__large {
        font-family: $large-font;
        color: $main-clr;

        font-size: 9.6rem;
        font-weight: 700;

        &:last-of-type {
            margin-top: -2rem;

            @media screen and(max-width: 375px) {
                margin-top: 0;
            }
        }
    }
    &__descr {
        font-family: $descr-font;
        color: $light-clr;

        max-width: 27.4rem;
        line-height: 200%;
        font-size: 1.4rem;

        margin-top: 11rem;        
    }
}


@media screen and(max-width: 1080px) {
    html {
        font-size: 50%;
    }
    .main {
        padding-left: 5rem;
    }
}

@media screen and(max-width: 840px) {
    .main {
        padding-left: 2rem;
    }
    .page {
        &__large {
            font-size: 5rem;
        }
    }
}
@media screen and(max-width: 375px) {
    .main {
        padding-left: 2rem;
    }
    .page {
        &__large {
            font-size: 3.8rem;
        }
        &__descr {
            font-size: 1.8rem;
            max-width: none;
            margin-right: $twelth;
        }
    }
}



/*
*
* ===========================================================
* FOOTER
* ===========================================================
*
*/

.footer {
    padding: 1.5rem $twelth;
    background: $blue-clr;
    color: $white-clr;

    &__soon {
        font-family: $descr-font;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-size: 1.2rem;
    }
}